@page "/"

<PageTitle>Главная страница</PageTitle>

<h1>Добро пожаловать в Trainee Accounting!</h1>

<div class="navigation-links-main">
    <NavLink class="nav-link-main" href="/trainee-create">
        <span>Новый стажёр</span>
    </NavLink>
    <NavLink class="nav-link-main" href="/traineeships-and-projects">
        <span>Стажировки и проекты</span>
    </NavLink>
    <NavLink class="nav-link-main" href="/trainees">
        <span>Стажёры</span>
    </NavLink>
</div>